<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<style>
  .center{
    text-align: center;
  }
  h3{
    text-align: center;
    border: 1px none white;
  }
  p{
    display:inline-block;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
  }
  .Activebutton{
    border: 2px solid green;
  }
</style>
<body>
<h3 class="title">Welcome</h3>
<form class="center">
  <button class="Activebutton">Register</button>
  <button class="Activebutton">Login</button>
</form>
</body>
</html>