<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>AJAX</title>

    <script type="application/javascript">
        function login(){
            const request = new XMLHttpRequest();
            if (request.readyState == 0){
                let jsonObj = JSON;
                jsonObj =
                [
                    {"Username" : document.getElementById("Username").value},
                    {"Password" : document.getElementById("Password").value}
                ];
                request.responseType='json';
                request.responseText = jsonObj.toString() ;
                console.log(request.response);
                alert("request built?")
            }
            request.open("POST", '/test', true);
            request.send();
        }
    </script>
</head>
<body>
<div class="container">
    <h1>AJAX TEST!</h1>
    <h1><input id="Username" name="Username" type="text" value="Username" /></h1>
    <p><input id="Password" name="Password" type="password" value="Password" /></p>
    <button onclick="login()" >Login</button>

</div>  <!-- container -->
</body>
</html>